#popup-menu{
    position: absolute;
    width: 100%;   /*Same size as #display*/
    height: 435px; /*Same size as #display*/
    background-color: white;
    border: 2px solid black;
    z-index: -1;    
}

#popup-menu.open{
    z-index: 10;
}

#popup-header{
    width: 100%;
    height: 20px;
    background-color: white;
    text-align: center;
}

#popup-nav-bar{
    width: 100%;
    height: 50px;
    background-color: white;
}